@font-face {
    font-family: galanoGrotesqueRegular;
    src: url(../../../assets/fonts/GalanoGrotesque-Regular.otf);
  }
  
  
  .mainContainer {
    flex: 1;
    background-color: white;
    padding: 32px;
  }
  
  .ticketTextStyle {
    color: #404041;
    
    font-size: 36px;
    line-height: 42px;
  }
  
  .indicatorStyle {
    background-color: #85bcce;
    height: 4px;
  }
  
  .renderTextStyle {
    font-family: galanoGrotesqueRegular;
    font-size: 18px;
    line-height: 24px;
  }
  
  .tabContainerStyle {
    background-color: white;
    // elevation: 0;
    margin: 0px 32px;
  }
  
  .wrapperContainer {
    flex: 1;
  }
  
  .upcomingTicketContainet {
    background-color: white;
    height: 150px;
    // marginVertical: 21;
    // elevation: 3;
    border-radius: 25px;
    display: flex;
    overflow: 'hidden';
  }
  
  .upcomingFirstSubContainer {
    flex: 0.05;
    background-color: #85BCCE;
  }
  
  .upcomingSecondSubContainer {
    flex: 0.6;
    border-right-color: #e5e5e5;
    border-right-width: 2;
    border-style: 'dotted';
    border-radius: 1;
    padding: 10px;
    display: flex;
  }
  
  .upcomingThirdSubContainer {
    flex: 0.35;
    padding: 10px;
    padding-top: 24px;
  }
  
  .titleTextStyle {
    font-size: 14px;
    line-height: 18px;
    // font-family: FONTS.galanoGrotesqueBold;
    color: red;
  }
  
  .descTextStyle {
    font-size: 10;
    line-height: 14;
    // font-family: FONTS.galanoGrotesqueMedium;
    color: #c4c4c4;
  }
  
  .dateTextStyle {
    font-size: 10;
    line-height: 14;
    // font-family: FONTS.galanoGrotesqueSemiBold;
    color: #85bcce;
  }
  
  .formattedDateTextStyle {
    font-size: 8;
    line-height: 11;
    // font-family: FONTS.galanoGrotesqueBold;
    color: #404041;
  }
  