<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187661395493-6bj7q11hqrho500sbsk5b0cj5p8crife.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187661395493-6bj7q11hqrho500sbsk5b0cj5p8crife</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187661395493-01q6han09b77ro6a20db9ts5pj7297rk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpsaaee0LoVaY3meHR6lprcuRtpJJoiCs</string>
	<key>GCM_SENDER_ID</key>
	<string>187661395493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.preface</string>
	<key>PROJECT_ID</key>
	<string>logintest-e85b8</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-e85b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187661395493:ios:1387927a40105d289201cc</string>
	<key>DATABASE_URL</key>
	<string>https://logintest-e85b8.firebaseio.com</string>
</dict>
</plist>